/Lots_schedule_calendar/Change_Logs/**
/Lots_schedule_calendar/Change_Logs_v2/**
/Lots_schedule_calendar/calendar_token.pickle
/Lots_schedule_calendar/Error_Logs/**
/Dropbox/Last_day_retrieved_log.csv
/Dropbox/Log of LOTS.txt
/Lots_schedule_calendar/email_token.pickle
Speedo_Dashboard/Archive.csv
client_secret.json
production-dashboard-daily-1568a4c99f1f.json
production-dashboard-other-890ed2bf828b.json
/production-dashboard-daily-1568a4c99f1f.json
/production-dashboard-other-890ed2bf828b.json
/Attendance*Project/attendance-310518-02c301c1099c.json
/Lots_schedule_calendar/Lots_calendar.json
/Lots_schedule_calendar/calendar_token.pickle
/Lots_schedule_calendar/calendar_token.json
/Lots_schedule_calendar/email_token READ ME.pickle
/Lots_schedule_calendar/email_token.pickle
/Production_dashboard_temp_files/**
production-dashboard-daily-36537e626b7d.json
production-dashboard-other-e051ae12d1ef.json
read-daily-fab-c5ac66b791a1.json
/Attendance*Project/**
/Attendance*Project/attendance-310518-a7c687acd47a.json
TimeClockCredentials.txt
*.pyc
sqlCredentials.txt
/TimeClock/TimeClockCredentials.txt
attendance-310518-a7c687acd47a.json