/Lots_schedule_calendar/Change_Logs/**
/Lots_schedule_calendar/Change_Logs_v2/**
/Lots_schedule_calendar/calendar_token.pickle
/Lots_schedule_calendar/Error_Logs/**
/Dropbox/Last_day_retrieved_log.csv
/Dropbox/Log of LOTS.txt
/Lots_schedule_calendar/email_token.pickle
